body {
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: #DDDDE2;
}

.body-help {
    text-align: justify;
    width: 80%;
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.btn-selected {
    color: red;
    font-weight: bold;
}

.btn-unselected {
}

#loginDiv {
    margin: 20px;
}

#disclaimerDiv {
    text-align: center;
    width: 60%;
}

#buttonsDiv {
    vertical-align: middle;
}

#buttonsDiv a img{
    vertical-align: middle;
}

.welcome-text {
    color: navy;
    font-size: 20px;
}

#welcome-title {
    font-size: 36px;
}

.alert-text {
    color: red;
    font-size: 14px;
    font-weight: bold;
}

#user-disclaimer {
    color: red;
    font-size: 20px;
}

#btnProceed {
    color: red;
    font-weight: bold;
    font-size: 20px;
}