body {
    text-align: center;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.btn-selected {
    color: red;
}

.btn-unselected {
    /*color: black;*/
}

#loginDiv {
    margin: 20px;
}

#disclaimerDiv {
    text-align: center;
    width: 55%;
}
/*button {
    margin-bottom: 15px;
    display: inline-block;
    color: #666;
    background-color: #eee;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-width: 3px;
}*/

/*button:hover {
    background-color: #e3e3e3;
    border-color: rgba(0,0,0,0.5);
}

button:active {
    background-color: #CCC;
    border-color: rgba(0,0,0,0.9);
}

button:disabled {
    background-color: #666;
    color: #CCC;
}*/